.content {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    width: 736px;
    height: 418px;
}
.title {
    display: flex;
    width: 100%;
    /* justify-content: start; */
    /* align-items: start; */
}
.title h3 {
    margin: var(--space-0);
}
.sellerContainer {
    width: 100%;
}
.sellerProfile {
    display: flex;
    flex-direction: column;
    margin: var(--space-8);
    align-items: center;
}
.sellerProfile img {
    background-color: grey;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-top: var(--space-2);
}
.sellerProfile h3 {
    margin: var(--space-2);
}
.sellerProfile p {
    margin: var(--space-2);
}
.sellerLocation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.sellerJoining {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.sellerContainer button {
    width: 100%;
    height: 39px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    text-align: start;
    padding: var(--space-0);
}
.sellerContainer button:hover {
    color: var(--color-primary);
}
.closingButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.favouritesButton {
    width: 100%;
    height: 48px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    margin-top: var(--space-8);
}
.adviceButton {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: var(--space-0);
    margin-top: var(--space-8);
    color: var(--color-primary);
}