services:
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
      - ./seed:/seed

  backend:
    build:
      context: ./backend
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/auctiondb
    ports:
      - "3000:3000"
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
    environment:
      - VITE_API_URL=http://localhost:3000
    ports:
      - "5173:5173"
    depends_on:
      - backend

  cli:
    build:
      context: ./backend
    environment:
      - MONGO_URI=mongodb://mongo:27017/auctiondb
    entrypoint: ["node", "commands.js"]
    depends_on:
      - mongo

volumes:
  mongo-data:
