.header {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    height: 50px;
    width: 80vw;
    background-color: var(--color-bg-main);
}
.header img {
    height: 21.5px;
    margin-right: 20px;
}
.header button {
    background-color: var(--color-bg-main);
    border: none;
    display: inline-flex;
    gap: var(--space-1);
}
.headerLeft {
    display: flex;
    align-items: center;
}