.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerTopBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}
.headerTop {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    width: 70%;
}   
.headerBottomBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--color-white);
}
.headerBottom {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    width: 80%;
}   
.header img {
    height: 21.5px;
    margin-right: 20px;
}
.header button {
    background-color: var(--color-white);
    border: none;
    display: inline-flex;
    padding: 10px;
    gap: var(--space-2);
}
.headerTop button {
    background-color: transparent;
}
.headerLeft {
    display: flex;
    align-items: center;
}
.headerRight {
    display: flex;
    align-items: center;
}