.content {
    background-color: var(--color-white);
}

.questionBubble {
  background-color: var(--color-subheader);
  padding: var(--space-2);
  margin: var(--space-2);
  margin-left: var(--space-6);
  max-width: 100%; /* prevents overflow */
  width: fit-content;
  word-break: break-word;
}
.button {
  padding: var(--space-2);
  background-color: var(--color-purchase);
  color: var(--color-white);
  border-radius: 4px;
  margin-top: var(--space-2);
}

.button:hover {
  background-color: var(--color-primary);
}