.content {
  background-color: var(--color-white);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.questionBubble {
  background-color: var(--color-subheader);
  padding: var(--space-2);
  margin: var(--space-2);
  margin-left: var(--space-6);
  max-width: 100%; /* prevents overflow */
  width: fit-content;
  word-break: break-word;
  border-radius: 4px;
}
.button {
  padding: var(--space-2) var(--space-4);
  background-color: var(--color-purchase);
  color: var(--color-white);
  border-radius: 4px;
  margin-top: var(--space-2);
  font-weight: 600;
  cursor: pointer;
  border: none;
}
.button:hover {
  background-color: var(--color-primary);
}
.questionAnswerContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}