.container {
    display: grid;
    justify-items: center;
    grid-template-columns: 10% auto auto 10%;
    grid-template-rows: auto auto auto auto;
}
.container > :nth-child(1) {
  grid-column: 3;
  grid-row: 1;
}
.container > :nth-child(2) {
  grid-column: 2;
  grid-row: 1 / span 2;
}
.container > :nth-child(3) {
  grid-column: 2;
  grid-row: 3;
}
.container > :nth-child(4) {
  grid-column: 2;
  grid-row: 4;
}