.container {
    display: grid;
    justify-items: center;
    grid-template-columns: 10% 4fr 1fr 10%;
    grid-template-rows: .5fr 1fr 1fr 1fr;
}
.container > :nth-child(1) {
  grid-column: 3;
  grid-row: 1;
}
.container > :nth-child(2) {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.container > :nth-child(3) {
  grid-column: 2;
  /* grid-row: 2; */
}