.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* grid-template-rows: 2fr 1fr 1fr 1fr; */
    gap: var(--space-1);
    padding: 0 10%;
}
.container > :nth-child(1) {
  grid-column: 2;
  grid-row: 1;
}
.container > :nth-child(2) {
  grid-column: 1;
  grid-row: 1;
}